<!-- Sidebar -->
<ul class="navbar-nav cor-menu sidebar toggled accordion align-items-center justify-content-center" id="accordionSidebar">

    <li class="nav-item" style="position: absolute; height: 700px;">
        <a class="nav-link" href="/">
            <img src="images/icon/logo.svg" alt="">
        </a>
    </li>

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link cor-font-menu" href="/escolhaProgresso">
            <img src="images/icon/icone-progresso.svg" alt=""> Progresso
        </a>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link cor-font-menu" href="/complementar">
            <img src="images/icon/icone-horas.svg" alt=""> Horas
        </a>
    </li>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link cor-font-menu" href="/trilhas">
            <img src="images/icon/icone-trilhas.svg"> Trilhas
        </a>
    </li>

</ul>
<!-- End of Sidebar -->